.container {
  height: 100%;

  :global(.ant-table-tbody) {
    background-color: darken(#ECECEC, 5%);
  }

  :global(.ant-pagination) {
    display: none;
  }
}

.header {
  height: 40px !important;
  display: flex;
  align-items: center;
  padding: 0px !important;
}

.menu {
  line-height: 39px !important;
}
