.container {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  flex: 1 !important;
}

.content {
  padding: 1em 1em 0em 1em;
  display: flex !important;
  flex-direction: column !important;
}

.header {
  height: 40px !important;
  display: flex;
  align-items: center;
  padding: 0px !important;
}

.menu {
  line-height: 39px !important;
}

.image {
  min-width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8em;
  color: white;
  text-decoration: none;

  & img {
    height: 1.5em;
  }

  & span {
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 1em;
  }
}

.topbar {
  flex-direction: row-reverse !important;
  align-self: flex-end !important;
  flex: 0 !important;
  width: 100% !important;
}

@media (max-width: 599px) {
  :global(.ant-input-affix-wrapper) {
    width: 48% !important;
  }

  .button {
    width: 48% !important;
  }
}
